<!Doctype html>

<html ng-app="LunchCheck">
<head>
  <meta charset="utf-8">
  <script src="angular.min.js"></script>
  <script src="app.js"></script>
  <title>Hello World!</title>

</head>
<body>
  <div ng-controller="LunchCheckController">
    <h2> What do you usually eat for lunch? </h2>
    <br />
    <input ng-model='inputString'
      style="width: 95%; padding: 5px; border-color: {{commentColor}}"
      placeholder="list you lunch separated with comma"></input>
    <P>
      <button ng-click='PerformCheck()'>Check If Too Much</button>
    </p>
    <p style="color: {{commentColor}}"> {{comment}} </p>
  </div>
</body>
</html>
