<div class="container">

  <div ng-if="!infoCtrl.registered">
    Not Signed Up Yet. <a ui-sref="public.signup">Sign up Now!</a>
  </div>

  <div ng-if="infoCtrl.registered">
    <h1>My Info</h1>
    <div> Name: {{infoCtrl.user.firstName}} {{infoCtrl.user.lastName}} </div>
    <div> Email: {{infoCtrl.user.email}} </div>
    <div> Phone: {{infoCtrl.user.phone}} </div>
    <div> Favourite Dish: </div>

    <div class="menu-item-tile col-md-6">
      <div class="row">
        <div class="col-sm-5">
          <div class="menu-item-photo">
            <div>{{infoCtrl.favDish.short_name}}</div>
            <img class="img-responsive" width="250" height="150" ng-src="{{infoCtrl.basePath}}/images/{{infoCtrl.favDish.short_name}}.jpg" alt="{{infoCtrl.favDish.name}}">
          </div>
          <div class="menu-item-price">{{infoCtrl.favDish.price_small | currency}}<span> {{infoCtrl.favDish.small_portion_name}}</span> {{infoCtrl.favDish.price_large | currency}} <span>{{infoCtrl.favDish.large_portion_name}}</span></div>
        </div>
        <div class="menu-item-description col-sm-7">
          <h3 class="menu-item-title">{{infoCtrl.favDish.name}}</h3>
          <p class="menu-item-details">{{infoCtrl.favDish.description}}</p>
        </div>
      </div>
      <hr class="visible-xs">
    </div>
  </div>
</div>
