

body {
  font-size: 1.2em;
  margin: 10px 30px 10px 30px;
}

.logo {
  padding-bottom: 20px;

  font-size: xx-large;
  font-weight: bold;
}

.entry{
  text-align: center;
  border: thin;
  margin-top:100px;
}
